* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Serif 4', sans-serif;
}

button {
  cursor: pointer;
}

nav > button:hover {
  background-color: #18BFF3;
  color: white;
}

header {
  color: white;
  background: #18BFF3;
  text-align: center;
}

audio::-webkit-media-controls-panel {
  background-color: #18BFF3;
  width: 300px;
  height: 56px;
}

#home-r {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

nav > button {
  border-top: #18BFF3 solid 0.1px;
  border-bottom: #18BFF3 solid 0.1px;
}

section {
  height: 58vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 17rem;
}

button, input, textarea {
  background-color: white;
  color: #18BFF3;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  border: #18BFF3 solid 3px;
}

p {
  text-align: center;
  margin: 1.5rem 3rem;
  margin-bottom: 5rem;
}

.tabcontent {
  display: none;
}


.request-reimbursement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.request-reimbursement > input, textarea {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 4px 10px;
  border: #18BFF3 solid 3px;
  text-align: center;
}

#amount {
  padding: 2px 8.5rem;
}

#r-submit {
  padding: 2px 8.5rem;
  margin-top: 1.5rem;
}

.change-status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.change-status > input, select {
  margin: 1rem;
  padding: 4px 10px;
  border: #18BFF3 solid 3px;
}

.submit-button, #submit-stats, #submit-status {
  color: white;
  background-color: #18BFF3;
  cursor: pointer;
}

.view-reimbursements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#status-r {
  text-align: center;
}

.r-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 44%;
}

.r-stats > select {
  margin: 2rem 0;
}

#status-message {
  color: red;
  font-weight: 300;
  text-align: center;
}

#view-stats {
  margin: 0.5rem 25%;
  color: red;
  font-weight: 300;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #18BFF3;
}

table, th, td {
  border: #18BFF3 solid 3px;
  padding: 0.6rem;
}
