* {
  text-align: center;
}

body {
  background-image: url("../images/boss-mug-background.png");
  background-repeat: no-repeat;
  background-position: fixed;
}

div {
  top: 44%;
  display: block;
}

input {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 20px;
}

button {
  background-color: #18BFF3;
  padding: 1.4rem 4rem;
  font-size: 1.1rem;
  border-radius: 20px;
  cursor: pointer;
}

.employee {
  position: fixed;
  left: 18%;
}

.manager {
  position: fixed;
  left: 55%;
}

audio::-webkit-media-controls-panel {
  background-color: #18BFF3;
  width: 300px;
  height: 56px;
}
